// Fspm.less

form#fspm_prepostulacion {
	max-width:580px;
	margin:24px auto;
	background-color:#f0f0f0;
	border-radius:15px;
	padding:12px 12px 24px 12px;
	text-align: left;
	
	label {
		font-size:16px;
		font-weight:normal;	
	}

	.help-block {
		font-size:18px;
	}

	h2 {
		margin-top:0;
		font-size:18px;
		color:darken(#FFBC0C, 20%);
		text-transform: uppercase;
		text-align: center;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	p.aligncenter {
		text-align:center;
		.btn {
			font-size:24px;
			line-height:42px;
			font-weight: normal;
			border-radius:10px;
		}
	}

	textarea {
		width:200px;
		height:150px;
	}
	label.error {
		color:#F24835;
		font-weight:normal;
	}
	label.disabled {
	color:#AFAFAF;
}

div.controls.curso-post, div.controls.year-post {
	margin-left:0;
	input {
		 margin-left:0;
		 margin-right:6px;
	}
}

div.control-group.year-control, div.control-group.curso-control {
	position:relative;
	label.error {
		position:absolute;
		right:0;
		top:4px;
	}
}

.help-block {
	margin-bottom:12px;
}

.input-prepend input {
	width:159px;
}

div.radio {
	padding:12px;
	background-color:white;
	border-radius:10px;
	margin-bottom:12px;
	-moz-transition:all ease-in 0.2s;
	-webkit-transition:all ease-in 0.2s;
	transition:all ease-in 0.2s;
	div.alert {
		margin-top:12px;
		margin-bottom:0;
	}
	span.lname {
		font-size:20px;
		span.lnamewarn {
			font-size:16px;
		}
	}
	&.selected {
		background-color:#EC971F;
		color:white;
	}
}

} //Fin formulario


a.prepostbtn {
	color:white;
	font-size:24px;
	font-weight:bold;
	margin:24px 0;
	line-height:42px;
	padding:15px;
	border-radius:6px;
}

.sharing_toolbox {
	text-align:center;
	margin:24px 0;
	i.fa {
		color:white;
		font-size:24px;
		line-height:42px;
	}
	a {
		display:inline-block;
		padding:6px;
		border-radius:4px;
		width:42px;
		height:42px;
		line-height:44px;
		transition:all ease-in 0.3s;
		&:hover {
			box-shadow:inset 1px 1px 6px fade(#000, 55%);
		}
	}
	.wa {
		background-color:#44B32E;
		.fa-stack {
			margin-top:-10px;
		}
		i.fa-circle-o {
			font-size:32px;
		}
		i.fa-phone {
			font-size:16px;
		}
	}
	.fb {
		background-color: #45619D;
		margin-top:6px;
	}
	.twt {
		background-color: #4E9ED9;
	}
	.gpl {
		background-color: #D84633;
	}
}